<div class="p-4 mt-1 mb-3 bg-light rounded-3">
<h1 style= "color: rgb(15, 181, 247) ">Centro de Mensajes</h1>
    <label for="inputEmail">Email:</label>
    <input id="inputEmail" type="email" class="form-control" placeholder="Ingrese su Email"><br>
    <label for="inputTexto">Mensaje:</label>
    <input id="inputTexto" type="text" class="form-control" placeholder="Cuentanos Algo"><br>
    <div id="Mensajes"></div>
    <button id="btn_enviar" class="btn btn-primary mt-3 mb-5">Enviar</button>
    <div id="Msj_info" style="color: orange;"></div>
</div>